body {
    padding-top: 90px;
    padding-bottom: 225px;
}
.container-fixed {
    min-width: 1000px;
}

/* Player */
#player-container {
    height: 50px;
    width: 100%;
    background-color: #f6f6f6;
    border-top: 1px solid #aaa;
    bottom: 0px;
    overflow: hidden;
    position: fixed;
    z-index: 1999;
}
.controls {
    line-height: 50px;
    position: absolute;
    left: 10px;
    padding: 0;
}
.controls li {
    line-height: 50px;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    vertical-align: middle;

}
.volume-container {
    height: 50px;
    position: absolute;
    left: 190px;
    top: -2px;
}
.volume-bar {
    width: 140px;
    height: 14px;
    margin: 0;
}
.time-holder {
    height: 50px;
    position: absolute;
    left: 420px;
    right: 20px;
}
.glyphicon-volume-down,
.glyphicon-volume-up,
.duration,
.current-time {
    display: inline-block;
    line-height: 50px;
}
.duration {
    right:0px;
    position:absolute;
}
.volume-container,
.time-holder,
.volume-bar,
.outer-seek-bar {
    display: inline-block;
}
.inner-seek-bar {
    width: 100%;
    height: 50px;
}
.inner-seek-bar-nowaveform {
    width: 100%;
    height: 14px;
}
.outer-seek-bar {
    position: absolute;
    right: 40px;
    left: 40px;
    bottom: 0px;
}
.play, .pause {
    font-size: 1.5em;
}
#waveform {
    cursor: pointer;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px
}
#yt_player {
    position:fixed;
    bottom:50px;
    z-index:9999;
    display: none;
}
#sc_player {
    position:fixed;
    width: 100px;
    height: 100px;
    left: -100px;
}


/* List items */
.playlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.playlist-current {
    background-color: #f6f6f6;
    color: #555;
}

#search a, #recommend a, #playlist a {
    color: #337ab7;
}
#search a:hover, #recommend a:hover, #playlist a:hover {
    color: #286591;
}

.cover-art {
    margin: 0 10px;
}
.cover-art img {
    width: 60px;
    height: 60px;
}
.column-description, .shorten {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.popover {
    max-width: none;
}
.popover-title {
    background: #f7f7f7;
    color: #333;
}
.popover-container {
    color: #000;
}
.popover-container td {
    padding: 0px 10px;
}
.popover-container td:first-child {
    padding: 0px 0px;
}
.popover-container .label {
    margin-right: 2px;
}

span.rollover {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background: url(../img/overlay-icon.png) center center no-repeat #000;
    cursor: pointer;
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: 10;
    opacity: 0;
}
span.rollover:hover {
    opacity: .6;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
/*    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;*/
}

.rotate-45 {
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 14px;
    width: 14px;
}
.glyphicon{
    font-size: 1.2em;
}
.column-description {
    color: #aaa;
    min-height: 20px;
}
.nav-tabs {
    margin-bottom: 10px;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.disable-click {
    pointer-events: none;
    color: #888 !important;
}
#page-selection-left, #page-selection-right {
    text-align: center;
}
