body {
  padding-top: 90px;
  padding-bottom: 90px
}
#player-container {
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
  border-top: 1px solid #aaa;
  bottom: 0px;
  overflow: hidden;
  position: fixed;
  z-index: 1999;
}
.container-fixed {
  min-width: 1000px;
}
.jp-controls, .jp-toggles {
	vertical-align: top;
	margin-top: 9px;
	float:left;
}
.jp-toggles {
	float:right;
}
.glyphicon-volume-down,
.glyphicon-volume-up,
.jp-duration,
.jp-current-time {
    display: inline-block;
	vertical-align: top;
}
.volume-container,
.jp-time-holder,
.jp-toggles,
.jp-volume-bar,
.seek-bar {
	display: inline-block;
}
.jp-time-holder,
.volume-container {
	float:left;
	height: 20px;
	vertical-align: top;
	margin-right: 10px;
	margin-left: 10px;
}
.volume-container {
    margin-top: 17px;
}
.jp-duration,
.jp-current-time  {
    vertical-align: bottom;
    margin-bottom: 2px;
}
.jp-volume-bar {
	width: 140px;
	height: 14px;
}
.jp-seek-bar {
	width: 140px;
	height: 50px;
}
.seek-bar {
	min-width: 300px;
}
.jp-time-holder {
	height: 50px;
}


.jp-playlist ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.jp-playlist-current {
	background-color: #f6f6f6;
	color: #555;
}

#search a, #recommend a, #playlist a {
	color: #337ab7;
}
#search a:hover, #recommend a:hover, #playlist a:hover {
	color: #286591;
}

.cover-art {
    margin: 0 10px;
}
.cover-art img {
    width: 60px;
    height: 60px;
}
.column-description, .shorten {
    overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.popover {
	max-width: none;
}
.tags-container td {
    padding: 0px 10px;
}
.tags-container td:first-child {
	padding: 0px 0px;
}
.tags-container .label {
	margin-right: 2px;
}

span.rollover {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background: url(../img/overlay-icon.png) center center no-repeat #000;
    cursor: pointer;
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: 10;
    opacity: 0;
}
span.rollover:hover {
    opacity: .6;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
/*    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;*/
}

.rotate-45 {
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 14px;
  width: 14px;
}
.glyphicon{
  font-size: 1.2em;
}
.column-description {
  color: #aaa;
  min-height: 20px;
}
.nav-tabs {
  margin-bottom: 10px;
}
