<!DOCTYPE html>
<html data-ng-app="billy">
  <head>
    <title>Billy - the basic playlist builder</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- build:css assets/css/style.css -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- endbuild -->

    <link rel="icon" type="image/png" href="assets/img/music.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div ng-controller="HeaderCtrl" class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Welcome to Billy.</a>
        </div>

        <div class="navbar-right">
          <p class="navbar-text">
            <span class="glyphicon glyphicon-info-sign" popover-trigger="outsideClick" popover-placement="bottom-right" uib-popover-template="'app/views/status_popover.html'" popover-is-open="status_shown" popover-title="Billy status"></span>
          </p>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <form class="navbar-form" ng-submit="search()">
            <div class="form-group" style="display:inline;">
              <div class="input-group" style="display:table;">
                <input id="search-query" class="form-control" placeholder="For some search results to appear, please tell us what kind of songs you would like to find!" ng-model="query">
                <span class="input-group-btn" style="width:1%;">
                  <button id="search-button" class="btn btn-default" type="button" ng-click="search()">Go!</button>
                </span>
              </div>
            </div>
          </form>
        </div>

      </div>
    </nav>


    <div id="player-container">

      <div ng-controller="PlayerCtrl" class="container container-fixed">

        <div id="player-core" class="player"></div>
        <div id="player-ui" class="audio">
          <div class="type-playlist">
              <div class="gui interface">
                  <ul class="controls">
                    <li class="previous" ng-click="previous()"><span class="glyphicon glyphicon-step-backward"></span></li>
                    <li ng-show="!playing" class="play" ng-click="play()"><span class="glyphicon glyphicon-play"></span></li>
                    <li ng-show="playing" class="pause" ng-click="pause()"><span class="glyphicon glyphicon-pause"></span></li>
                    <li class="stop" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span></li>
                    <li class="next" ng-click="next()"><span class="glyphicon glyphicon-step-forward"></span></li>
                  </ul>
                  <div class="volume-container">
                    <span class="glyphicon glyphicon-volume-down"></span>
                    <uib-progressbar class="volume-bar" max="100" value="current_volume" ng-click="volume_click($event)"></uib-progressbar>
                    <span class="glyphicon glyphicon-volume-up"></span>
                  </div>

                  <div class="time-holder">
                    <div class="current-time">{{ current_time_str }}</div>
                    <uib-progressbar class="outer-seek-bar" max="duration" value="current_time" ng-click="timeline_click($event)"></uib-progressbar>
                    <div class="duration">{{ duration_str }}</div>
                  </div>
              </div>
              <div class="jp-no-solution">
                  <span>Update Required</span>
                  To play the media you will need to either update your browser to a recent version.
              </div>
          </div>
      </div>
    </div>
  </div>



  <div class="container">

    <div class="row">

      <div ng-controller="ResultCtrl" class="col-sm-6">

        <uib-tabset>
          <uib-tab index="0" heading="Search results" active="tabs.search.active" ng-cloak>
            <div ng-show="tabs.search.results.length" class="column-description">The songs below match your search terms best:</div>
            <div class="tab-pane fade in list-group" id="search" name="Search results">
                <li ng-repeat="result in tabs.search.results" class="list-group-item shorten" data-track-id="{{ result._id }}" ng-class="(musicservice.track == result) ? 'playlist-current' : ''">
                    <div class="pull-right m-l btn-group">
                        <a><span class="glyphicon glyphicon-info-sign" popover-append-to-body="true" popover-trigger="outsideClick" popover-placement="bottom" uib-popover-template="'app/views/musicinfo_popover.html'" popover-title="Music info"></span></a>
                        <a ng-click="load_and_play(result)" class="m-r-sm"><span class="glyphicon glyphicon-play-circle"></span></a>
                        <a ng-click="add(result)" class="m-r-sm"><span class="glyphicon glyphicon-remove-circle rotate-45"></span></a>
                    </div>
                    <a ng-click="load_and_play(result)" class="img-thumbnail cover-art"><span class="rollover"></span><img alt="" ng-src="{{ result.image }}" onerror="this.src = 'assets/img/blank.png';"></a>
                    {{ result.title }}
                </li>
                <div ng-show="tabs.search.results.length" class="text-center">
                    <uib-pagination total-items="tabs.search.total_items" ng-model="tabs.search.current_page" ng-change="page_changed()" items-per-page="tabs.search.page_size" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="Recommendations" active="tabs.recommendation.active" ng-cloak>
            <div class="tab-pane fade in active list-group" id="recommend" name="Recommendations">
                <li ng-repeat="result in tabs.recommendation.results" class="list-group-item shorten" data-track-id="{{ result._id }}" ng-class="(musicservice.track == result) ? 'playlist-current' : ''">
                    <div class="pull-right m-l btn-group">
                        <a><span class="glyphicon glyphicon-info-sign" popover-append-to-body="true" popover-trigger="outsideClick" popover-placement="bottom" uib-popover-template="'app/views/musicinfo_popover.html'" popover-title="Music info"></span></a>
                        <a ng-click="load_and_play(result)" class="m-r-sm"><span class="glyphicon glyphicon-play-circle"></span></a>
                        <a ng-click="add(result)" class="m-r-sm"><span class="glyphicon glyphicon-remove-circle rotate-45"></span></a>
                    </div>
                    <a ng-click="load_and_play(result)" class="img-thumbnail cover-art"><span class="rollover"></span><img alt="" ng-src="{{ result.image }}" onerror="this.src = 'assets/img/blank.png';"></a>
                    {{ result.title }}
                </li>
                <div ng-show="tabs.recommendation.results.length" class="text-center">
                    <uib-pagination total-items="tabs.recommendation.total_items" ng-model="tabs.recommendation.current_page" ng-change="page_changed()" items-per-page="tabs.recommendation.page_size" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
          </uib-tab>
        </uib-tabset>

      </div>

      <div ng-controller="PlaylistCtrl" class="col-sm-6">
        <uib-tabset>
          <uib-tab ng-repeat="(playlist_name, playlist) in playlists" index="$index" heading="{{ playlist_name }}" active="tabs[playlist_name].active" ng-cloak>
              <uib-tab-heading>
                  <i class="glyphicon" ng-class="playlist.type == 'identity' ? 'glyphicon-user' : ''"></i> {{ playlist_name }}
              </uib-tab-heading>
              <div class="tab-pane fade in active list-group" id="playlist" name="Playlist">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default" ng-click="playlist_modal()">Create new</button>
                      <button type="button" class="btn btn-default" ng-click="delete_playlist(playlist_name)">Delete current</button>
                      <button type="button" class="btn btn-default" onclick="document.getElementById('file').click()">Import JSON</button>
                      <button type="button" class="btn btn-default" ng-click="export_playlists()">Export JSON</button>
                      <input type='file' id='file' name='file' style='display: none;' onchange="angular.element(this).scope().import_playlists()"/>
                  </div>
                  <li ng-repeat="result in playlist.tracks" class="list-group-item shorten" data-track-id="{{ result._id }}" ng-class="(playlist_name == musicservice.name && $index == musicservice.index) ? 'playlist-current' : ''">
                      <div class="pull-right m-l btn-group">
                          <a ng-click="move_up(playlist_name, $index)" class="m-r-sm"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
                          <a ng-click="move_down(playlist_name, $index)" class="m-r-sm"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                          <a><span class="glyphicon glyphicon-info-sign" popover-append-to-body="true" popover-trigger="outsideClick" popover-placement="bottom-right" uib-popover-template="'app/views/musicinfo_popover.html'" popover-title="Music info"></span></a>
                          <a ng-click="load_and_play(playlist_name, $index)" class="m-r-sm"><span class="glyphicon glyphicon-play-circle"></span></a>
                          <a ng-click="remove(playlist_name, $index)" class="m-r-sm"><span class="glyphicon glyphicon-remove-circle"></span></a>
                      </div>
                      <a ng-click="load_and_play(playlist_name, $index)" class="img-thumbnail cover-art"><span class="rollover"></span><img alt="" ng-src="{{ result.image }}" onerror="this.src = 'assets/img/blank.png';"></a>
                      {{ result.title }}
                  </li>
              </div>
          </uib-tab>
        </uib-tabset>

    </div>


  </div>


  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>

  <!-- UI Libs -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>

  <!-- App libs -->
  <!-- build:js assets/js/app.js -->
  <script src="app/app.js"></script>
  <script src="app/services.js"></script>
  <script src="app/controllers.js"></script>
  <script src="app/directives.js"></script>
  <script src="app/filters.js"></script>
  <!-- endbuild -->

  </body>
</html>
