<div class="popover-container">
  <table ng-init="limit = 6">
    <tr ng-if="result.musicinfo.similar_artists">
      <td>Similar artists</td>
      <td>
        <span class="label label-success" ng-repeat="artist in result.musicinfo.similar_artists | limitTo: limit as similar_artists">{{ artist }}</span>
        <a ng-show="result.musicinfo.similar_artists.length !== similar_artists.length" ng-click="limit = undefined" class="text-nowrap" href="">show more...</a>
      </td>
    </tr>
    <tr ng-show="!result.musicinfo.similar_artists"><td>No data</td></tr>
  </table>
</div>
