<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Create new playlist</h4>
</div>

<div class="modal-body">
    <form>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" placeholder="Please enter a name which does not match any of your existing playlist names." uib-popover="Please fill out this field." popover-is-open="name_popover" popover-trigger="none" ng-model="name">
        </div>
        <div class="form-group">
            <label class="control-label">Purpose</label>
            <textarea class="form-control" rows="3" placeholder="For what purpose would you like to use this playlist? Please enter a short description here." uib-popover="Please fill out this field." popover-is-open="description_popover" popover-trigger="none" ng-model="description"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">How will you use the playlist music?</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="functions.foreground">
                    Music listening will be my main activity and focus of attention.
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="functions.background">
                    I will use the music in connection to a non-musical activity. I should primarily focus on this activity; the music should support but not distract me.
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="functions.action">
                    I will use the music in connection to a non-musical activity. Focusing on the music will help me to conduct the activity better.
                </label>
            </div>
        </div></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
    </div></form>
</div>
