<div class="popover-container">
  <table>
    <tr>
      <td>status</td>
      <td></td>
      <td><span ng-repeat="activity in status.info.status" class='label' ng-class="activity=='idle' ? 'label-success' : 'label-danger'">{{ activity }}</span></td>
    </tr>
    <tr>
      <td>#sources</td>
      <td></td>
      <td>{{ status.info.num_sources }}</td>
    </tr>
    <tr>
      <td>#sessions</td>
      <td></td>
      <td>{{ status.info.num_sessions }}</td>
    </tr>
    <tr>
      <td>#tracks</td>
      <td>total</td>
      <td>{{ status.info.total_tracks }}</td>
    </tr>
    <tr ng-repeat="(source_type, count) in status.info.num_tracks">
      <td></td>
      <td>{{ source_type }}</td>
      <td>{{ count }}</td>
    </tr>
    <tr>
      <td nowrap>session url</td>
      <td></td>
      <td>
        <div class="input-group input-group-sm">
          <div class="input-group-btn">
            <button id="copy-session-id" class="btn btn-default" type="button" clipboard-copy="{{ url }}">
              <span class="glyphicon glyphicon-copy" style="font-size:100%;"></span>
            </button>
          </div>
          <input id="session-id" type="text" class="form-control" style="background:#fff;width:100px;" value="{{ url }}" readonly/>
        </div>
      </td>
    </tr>
  </table>
</div>
